html, body, #app, #app>div {
  height: 100%
}

.login-btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.input-max-width{
  width: 100%;
}

.login-form{
  width:20vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.login-btn{
  width:70% !important
}

.captcha{
  width: 100%;
  align-self: center;
}

.logo{
  height: 20vh;
  width: 20vh;
  align-self: center;
  margin-bottom: 4vh;
}

@media only screen and (max-width: 600px) {
  .login-form{
    width:70vw
  }
}
